# ajax
snippet webpack-script "webpack-script" b

  "scripts": {
    "dev": "webpack-dev-server",
    "build": "webpack --config webpack.config.js --port 3000 --contentBase src --hot"
  },

endsnippet
